<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All people</title>
</head>
<body>
<form th:method="GET" th:action="@{/start}">
    <input type="submit" value="Back"/>
</form>
<form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="New people"/>
</form>
<div th:each="people : ${peoples}">
    <a th:href="@{/people/{id}(id=${people.getId()})}"
       th:text="${people.getFullName() + ' ' + people.getDob()}"></a>
</div>
</body>
</html>