<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show people</title>
</head>
<body>
<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Back"/>
</form>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${people.getId()})}">
    <input type="submit" value="Update people"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${people.getId()})}">
    <input type="submit" value="Delete people"/>
</form>
<p th:text="${people.getId()}">VALUE</p>
<p th:text="${people.getFullName()}">VALUE</p>
<p th:text="${people.getDob()}">VALUE</p>
<p>Книги на руках: </p>
<div th:each="book : ${books}">
    <a th:href="@{/book/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ' ' + book.getAuthor() + ' ' + book.getDob()}"
       th:style="${book.isExpired()} ? 'color: red' : 'color: black'"></a>
</div>
</body>
</html>