<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<form th:method="GET" th:action="@{/book}">
    <input type="submit" value="Back"/>
</form>
<form th:method="GET" th:action="@{/book/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Update book"/>
</form>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete book"/>
</form>
<p th:text="${'ID: ' + book.getId()}">VALUE</p>

<p th:text="${'Name of book: ' + book.getName()}">VALUE</p>
<p th:text="${'Author of book: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Date of issue: ' + book.getDob()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/book/{id}/freeBook(id=${book.getId()})}">
        <input type="submit" value="Free the book"/>
    </form>
</div>

<div th:if="${allPeople}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/book/{id}/updateId(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${people}" th:field="*{id}" id="person">
            <option th:each="people : ${allPeople}" th:value="${people.getId()}" th:text="${people.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Select person"/>
    </form>
</div>
</body>
</html>
