<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>
<form th:method="GET" th:action="@{/book}">
    <input type="submit" value="Back"/>
</form>
<form th:method="GET" th:action="@{/book/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Update book"/>
</form>
<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete book"/>
</form>
<p th:text="${'ID: ' + book.getId()}">VALUE</p>
<div th:if="${book.getOwner() eq null}">
    <p th:text="'Book in Library'"></p>
    <div>
        <form th:method="PATCH" th:action="@{/book/{id}/updateId(id=${book.getId()})}">
            <label for="idOfPeople">Select id of people</label>
            <select th:object="${book}" th:field="*{owner}" id="idOfPeople">
                <option th:each="people : ${peoples}" th:value="${people.getId()}"
                        th:text="${people.getId() + ' ' + people.getFullName()}">VALUE
                </option>
            </select>
            <input type="submit" value="Select person"/>
        </form>
    </div>
</div>
<div th:if="${book.getOwner() ne null}">
    <p th:text="${'ID of people: ' + book.getOwner().getId()}"></p>
    <div>
        <form th:method="PATCH" th:action="@{/book/{id}/freeBook(id=${book.getId()})}" th:object="${book}">
            <input type="submit" value="Free the book"/>
        </form>
    </div>
</div>
<p th:text="${'Name of book: ' + book.getName()}">VALUE</p>
<p th:text="${'Author of book: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Date of issue: ' + book.getDob()}">VALUE</p>
</body>
</html>
